body { background: #760aaa; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-database-0 { color: #f98c87; font-size: 16px; margin-bottom: 5px; }
.block-router-1 { color: #fd44e5; font-size: 13px; margin-bottom: 5px; }
.block-token-2 { color: #ca4430; font-size: 12px; margin-bottom: 5px; }
.block-cache-3 { color: #c8bff; font-size: 20px; margin-bottom: 5px; }
.block-order-4 { color: #c43d29; font-size: 21px; margin-bottom: 5px; }
.block-metrics-5 { color: #b7c08a; font-size: 13px; margin-bottom: 5px; }
.block-product-6 { color: #6effd4; font-size: 15px; margin-bottom: 5px; }
.block-database-7 { color: #c96450; font-size: 21px; margin-bottom: 5px; }